.version.about_us /* version checker */
{
	color: #0000F2;
	background-color: #798A89;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.66533018867983px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 3px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu328
{
	width: 0.01px;
}

#u328
{
	z-index: 2;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u331-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 356px;
}

#u370
{
	z-index: 9;
	width: 959px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
}

#menuu371
{
	z-index: 10;
	width: 458px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 482px;
}

#u386
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u387
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u387:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u390
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u390.png") no-repeat 0px 0px;
}

#u387.MuseMenuActive #u390
{
	background: url("../images/u390-a.png") no-repeat 0px 0px;
}

#u393
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u396
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u396:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u398
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u398.png") no-repeat 0px 0px;
}

#u396.MuseMenuActive #u398
{
	background: url("../images/u398-a.png") no-repeat 0px 0px;
}

#u400
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u403
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u403:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u387:active,#u396:active,#u403:active
{
	background-color: #6B6B6B;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u404
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u404.png") no-repeat 0px 0px;
}

#u403.MuseMenuActive #u404
{
	background: url("../images/u404-a.png") no-repeat 0px 0px;
}

#u379
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u380
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u380.MuseMenuActive
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u381-4
{
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u381-4_clip
{
	overflow: hidden;
	width: 113px;
	height: 18px;
	vertical-align: top;
}

#u381-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u332
{
	z-index: 8;
	width: 961px;
	background-color: #534741;
	padding-bottom: 249px;
	left: -1px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u407-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 84px;
}

#u408
{
	z-index: 36;
	width: 961px;
	background-color: #7F7F7F;
	padding-bottom: 10px;
	left: -1px;
	position: relative;
}

#u409-10
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 390px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

