.version.index /* version checker */
{
	color: #0000EB;
	background-color: #B25B84;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.68029479906477px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -84px;
	width: 0.01px;
}

#pu78
{
	width: 0.01px;
}

#u78
{
	z-index: 2;
	width: 94px;
	height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 309px;
	left: 1120px;
}

#u79
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u92
{
	z-index: 5;
	width: 462px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 248px;
}

#u92_img
{
	padding-bottom: 154px;
}

#u101
{
	z-index: 7;
	width: 961px;
	background-color: #7F7F7F;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 515px;
}

#u102
{
	z-index: 8;
	width: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u108
{
	z-index: 10;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 348px;
}

#u114
{
	z-index: 12;
	width: 266px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 662px;
}

#u120
{
	z-index: 14;
	width: 959px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#menuu154
{
	z-index: 15;
	width: 458px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 494px;
}

#u155
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u156
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u158-4
{
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u158-4_clip
{
	overflow: hidden;
	width: 113px;
	height: 18px;
	vertical-align: top;
}

#u158-4_img
{
	display: block;
}

#u162
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u165
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u156.MuseMenuActive,#u165:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u168
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u168.png") no-repeat 0px 0px;
}

#u165.MuseMenuActive #u168
{
	background: url("../images/u168-a.png") no-repeat 0px 0px;
}

#u170
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u171
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u171:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u172
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u172.png") no-repeat 0px 0px;
}

#u171.MuseMenuActive #u172
{
	background: url("../images/u172-a.png") no-repeat 0px 0px;
}

#u184
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u185
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u185:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u165:active,#u171:active,#u185:active
{
	background-color: #6B6B6B;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u188
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u188.png") no-repeat 0px 0px;
}

#u185.MuseMenuActive #u188
{
	background: url("../images/u188-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu193
{
	width: 0.01px;
	margin-left: -1px;
}

#u193
{
	z-index: 38;
	width: 961px;
	background-color: #534741;
	padding-bottom: 35px;
	position: relative;
	margin-right: -10000px;
}

#u194
{
	z-index: 39;
	width: 212px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 48px;
}

#u200-4
{
	z-index: 41;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 313px;
}

#u202-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 279px;
}

#u203
{
	z-index: 49;
	width: 479px;
	background-color: #7F7F7F;
	left: -1px;
	position: relative;
	padding: 35px 241px 13px;
}

#u204-9
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
}

#u205-3
{
	z-index: 59;
	width: 1px;
	min-height: 4px;
	background-color: transparent;
	margin-left: 230px;
	margin-top: 16px;
	position: relative;
}

#u206
{
	z-index: 62;
	width: 961px;
	background-color: #534741;
	padding-bottom: 16px;
	left: -1px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u207-10
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 286px;
}

#u208
{
	z-index: 73;
	width: 961px;
	background-color: #7F7F7F;
	padding-bottom: 14px;
	position: relative;
}

#u209-10
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 348px;
}

#u192
{
	z-index: 37;
	width: 18px;
	height: 57px;
	margin-left: 1408px;
	margin-top: 89px;
	position: relative;
}

.ie #u78,.ie #u192
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

