.version.payment /* version checker */
{
	color: #000009;
	background-color: #0DE0D7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -3px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu273
{
	width: 0.01px;
}

#u273
{
	z-index: 2;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u277
{
	z-index: 4;
	width: 959px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
}

#menuu278
{
	z-index: 5;
	width: 458px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 480px;
}

#u293
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u294
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u294:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u296
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u296.png") no-repeat 0px 0px;
}

#u294.MuseMenuActive #u296
{
	background: url("../images/u296-a.png") no-repeat 0px 0px;
}

#u300
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u301
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u301:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u303
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u303.png") no-repeat 0px 0px;
}

#u301.MuseMenuActive #u303
{
	background: url("../images/u303-a.png") no-repeat 0px 0px;
}

#u307
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u310
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u311-4
{
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u311-4_clip
{
	overflow: hidden;
	width: 113px;
	height: 18px;
	vertical-align: top;
}

#u311-4_img
{
	display: block;
}

#u279
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u282
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u310.MuseMenuActive,#u282:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u294:active,#u301:active,#u282:active
{
	background-color: #6B6B6B;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u283
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u283.png") no-repeat 0px 0px;
}

#u282.MuseMenuActive #u283
{
	background: url("../images/u283-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u319-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 352px;
}

#u314
{
	z-index: 27;
	width: 572px;
	background-color: #534741;
	position: relative;
	padding: 20px 195px 55px 194px;
}

#u318-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-left: 209px;
	position: relative;
}

#u317-29
{
	z-index: 39;
	width: 572px;
	min-height: 239px;
	background-color: transparent;
	left: -1px;
	margin-top: 3px;
	position: relative;
}

#u317-2,#u317-4,#u317-6,#u317-8,#u317-10,#u317-12,#u317-14,#u317-16,#u317-18,#u317-20,#u317-22,#u317-24,#u317-26
{
	text-align: center;
	color: #FFFFFF;
}

#u315
{
	z-index: 28;
	width: 961px;
	background-color: #7F7F7F;
	padding-bottom: 10px;
	left: -1px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u316-10
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 388px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

