.version.schedule /* version checker */
{
	color: #00000C;
	background-color: #9520E9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu211
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -1px;
}

#pu211
{
	width: 0.01px;
	margin-left: 1px;
}

#u211
{
	z-index: 2;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u211_img
{
	padding-bottom: 123px;
}

#u218
{
	z-index: 4;
	width: 959px;
	height: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#menuu219
{
	z-index: 5;
	width: 458px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 489px;
}

#u227
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u228
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u228:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u229
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u229.png") no-repeat 0px 0px;
}

#u228.MuseMenuActive #u229
{
	background: url("../images/u229-a.png") no-repeat 0px 0px;
}

#u248
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u249
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u252-4
{
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u252-4_clip
{
	overflow: hidden;
	width: 113px;
	height: 18px;
	vertical-align: top;
}

#u252-4_img
{
	display: block;
}

#u241
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u242
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u249.MuseMenuActive,#u242:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u243
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u243.png") no-repeat 0px 0px;
}

#u242.MuseMenuActive #u243
{
	background: url("../images/u243-a.png") no-repeat 0px 0px;
}

#u220
{
	width: 113px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 345px;
}

#u221
{
	width: 113px;
	background-color: #C4C4C4;
	padding-bottom: 16px;
	position: relative;
}

#u221:hover
{
	background-color: #999999;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u228:active,#u242:active,#u221:active
{
	background-color: #6B6B6B;
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u224
{
	height: 18px;
	width: 113px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	background: url("../images/u224.png") no-repeat 0px 0px;
}

#u221.MuseMenuActive #u224
{
	background: url("../images/u224-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u255-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 383px;
}

#u260
{
	z-index: 35;
	width: 961px;
	background-color: #534741;
	padding-bottom: 84px;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
}

#u261-39
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 114px;
}

#u262
{
	z-index: 75;
	width: 961px;
	background-color: #7F7F7F;
	padding-bottom: 24px;
	position: relative;
}

#u263-10
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 368px;
}

#u256-3
{
	z-index: 31;
	width: 46px;
	min-height: 3px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 1231px;
}

#u259
{
	z-index: 34;
	width: 56px;
	height: 16px;
	margin-bottom: -122px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1278px;
	left: 1271px;
}

.ie #u259
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1277px;
}

